body { background: #f5eb14; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 16px; display: flex; }
.block-metrics-0 { color: #bff7bd; font-size: 20px; margin-bottom: 5px; }
.block-invoice-1 { color: #7a3a29; font-size: 14px; margin-bottom: 5px; }
.block-notify-2 { color: #4408c7; font-size: 21px; margin-bottom: 5px; }
.block-sms-3 { color: #ab564e; font-size: 20px; margin-bottom: 5px; }
.block-helper-4 { color: #22ce14; font-size: 14px; margin-bottom: 5px; }